@media (min-width: 600px) and (max-width: 1024px) {
  header::before {
    height: 50vh;
    border-radius: 0 0 40px 40px;
    background: radial-gradient(
      ellipse,
      var(--color-background) 75%,
      var(--color-primary) 300%
    );
  }
  .guideline {
    flex-direction: row;
    padding: 0 20px;
  }
  .menu {
    margin-right: 0;
    width: auto;
  }
  .menu-dropdown {
    padding: 10px;
    border-radius: 40px;
    gap: 0;
  }
  .menu-dropdown-item {
    font-size: 22px;
    margin: 10px 20px;
  }
  .about-me {
    flex-direction: row;
    height: 600px;
    gap: 20px;
    padding: 20px 0;
  }
  .info-image {
    width: 60%;
    min-width: 180px;
    max-width: 220px;
  }
  .about-me article {
    width: 55%;
  }
  .about-me h1 {
    font-size: 25px;
  }
  .about-me strong {
    font-size: 15px;
    width: 100%;
  }
  .about-me p {
    width: 90%;
    font-size: 12px;
  }
  .contact-icon {
    margin-right: 10px;
  }
  .contact-icon img {
    width: 28px;
    height: 28px;
  }
  .skill-growth {
    width: 100%;
    padding: 20px;
    border-radius: 30px;
  }
  .skill-growth--current{
    margin-right: 10px;
  }
  .current-skill-title{
    margin-top: 10px;
    font-size: 20px;
  }
  .in-progress-title{
    margin-top: 10px;
    font-size: 20px;
  }
  .skill-list {
    flex-wrap: wrap;
    gap: 10px;
  }
  .project {
    margin: 80px 10px;
    min-height: 800px;
    border-radius: 30px;
    padding: 10px 0;
  }
  .project-nav {
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  .project-container {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 15px;
    width: 98%;
  }
  .project-item {
    padding: 12px;
    border-radius: 14px;
  }
  .project p {
    font-size: 18px;
    padding: 8px 0;
  }
  .contact-me {
    font-size: 18px;
    padding: 8px 0;
    margin: 5rem auto;
    max-width: 60%;
  }
  .footer {
    padding: 0 10px;
  }
  .footer-content {
    padding: 10px;
    font-size: 14px;
  }
  .footer-content--list img {
    width: 26px;
    height: 26px;
  }
  .footer-up {
    margin: 10px 0 0 0;
  }
}
@media (max-width: 600px) {
  header::before {
    height: 30vh;
    border-radius: 0 0 30px 30px;
  }
  .guideline {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    height: fit-content;
  }
  .menu {
    flex-direction: column;
    margin-right: 0;
    width: fit-content;
    justify-content: flex-end;
    align-items: center;
  }
  .hamburger-menu {
    display: flex;
    align-self: flex-end;
    padding: 5px;
  }
  .hamburger-menu span{
    background-color: var(--color-primary);
    width: 28px;
  }
  .menu-nav-links{
    display: flex;
    justify-content: center;
  }
  .menu-dropdown {
    display: none;
    position: absolute;
    flex-direction: column;
    width: 100px;
    flex-direction: column;
    padding: 8px;
    border-radius: 20px;
  }
  .menu-dropdown.active{
    display: flex;
    margin-left: 20px;
    animation: unset;
  }
  .menu-dropdown li{
    margin-bottom: 10px;
  }
  .menu-dropdown-item {
    font-size: 12px;
    margin: 8px 0;
    text-align: left;
  }
  .language-select{
    align-self: end;
    margin: 10px;
  }
  .language-option{
    padding: 8px;
  }
  .language-option img{
    width: 30px;
    height: 30px;
  }
  .about-me {
    flex-direction: column;
    height: auto;
    gap: 10px;
    padding: 10px 0;
  }
  .info-image {
    width: 100%;
    min-width: 210px;
    max-width: 210px;
  }
  .about-me article {
    width: 98%;
    text-align: center;
  }
  .about-me h1 {
    font-size: 22px;
  }
  .about-me strong {
    font-size: 13px;
    width: 100%;
  }
  .about-me p {
    width: 100%;
    font-size: 10px;
    padding: 0 50px;
  }
  .contact-icon img {
    width: 22px;
    height: 22px;
  }
  .skill-growth {
    width: 100%;
    padding: 8px;
    border-radius: 20px;
  }
  .skill-growth--inprogress{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
  }
  .current-skill-title{
    margin-top: 10px;
    font-size: 16px;
  }
  .in-progress-title{
    margin-top: 10px;
    font-size: 16px;
  }
  .skill-list {
    width: fit-content;
    flex-wrap: wrap;
    gap: 3px;
  }
  .project {
    margin: 15px 2px;
    min-height: 350px;
    border-radius: 18px;
    padding: 6px 0;
  }
  .project-nav {
    flex-direction: column;
    gap: 6px;
    margin-bottom: 8px;
  }
  .project-filter{
    margin: 10px 20px;
  }
  .project-container {
    grid-template-columns: 1fr;
    gap: 8px;
    width: 100%;
  }
  .project-item {
    padding: 8px;
    border-radius: 10px;
  }
  .project p {
    font-size: 15px;
    padding: 6px 0;
  }
  .contact-me{
    max-width: 80%;
  }
  .footer {
    padding: 0 4px;
  }
  .footer-content {
    padding: 6px;
    font-size: 12px;
  }
  .footer-content--list img {
    width: 18px;
    height: 18px;
  }
  .footer-up {
    margin: 6px 0 0 0;
  }
}